source https://api.nuget.org/v3/index.json

storage: none

nuget CommunityToolkit.HighPerformance ~> 8.2

// Test Dependencies
nuget coverlet.collector
nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio